body {
    background: rgba(0, 0, 0, .9);
    margin: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.header::after {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(../Img/bagley00.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
}

.header:hover::after {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.header:hover .header-content {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.header-content {
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 47%;
    margin-top: 0px;
    margin-left: -145px;
    text-align: center;
    width: 350px;
    height: 550px;
    transition: all 1000ms;

}

.header-content .logo {
    height: 100px;
    width: 100px;

}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
   
}

.text {
    line-height: 1.7;
    margin-top: 2rem;
    
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;

}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.text-center {
    text-align: center;
    margin: auto;
}

.bg-light {
    background: #fff;
    color: #333 ;
}

.bg-dark {
    background: #2f3542;
    color: #fff;
}
.services{
    padding: 2rem;
}
footer{
    padding: 2.2rem;
}
footer p{
    padding: 2rem;
}
@media(max-width:570px)  {
    .header::after {
        height: 60vh;
    }
    .header-content{
            top: 5%;
            left:42%;
    }
    .header-content .logo{
        height: 120px;
        width: 120px;
    }
.grid-3,.grid-2{
    grid-template-columns: 1fr;

}
    .services{
            padding: 1.4rem, 1rem;
    }
}
@media(max-height:500px){
    .header-content .text{
        display: none;
    }
    .header-content{
        top:0%;
        left: 45%
    }

}